body {
    box-sizing: border-box;
    
  }
  #header-nav{
    background: green;
  }
h2.pull-left{
  color: black;
  margin-top: 0px;
  margin-left: 0px;
}
h1.text-center{
  margin-top: 0px;
}
button {
  background: white;
  
}

hr{
  background: white;
}
#p1,#p2,#p3 {


  
}
.box{
  border: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px; 
  margin-right: 10px;
  background-color: #58787C;
}